@use "../variables" as *;

.product-section {
  overflow-x: clip;

  & .page-container {
    padding: 0;
    padding-top: 13px;
    max-width: 1920px;

    @media (min-width: 934px) {
      padding: 0;
    }

    @media (min-width: $bp-3xl) {
      padding-top: 137px;
      padding-bottom: 14px;
    }
  }

  .product-card__decor-right-mobile-1,
  .product-card__decor-right-mobile-2,
  .product-card__decor-right-mobile-3 {
    display: block;
    position: absolute;
    z-index: -1;
    filter: blur(30px);

    @media (min-width: $bp-2xl) {
      display: none;
    }
  }

  .product-card__decor-right-desktop-1,
  .product-card__decor-right-desktop-2,
  .product-card__decor-right-desktop-3 {
    display: none;
    position: absolute;
    z-index: -1;
    filter: blur(90px);

    @media (min-width: $bp-2xl) {
      display: block;
    }
  }

  .product-card--1 .product-card__container .product-card__col2,
  .product-card--2 .product-card__container .product-card__col2,
  .product-card--3 .product-card__container .product-card__col2 {
    @media (min-width: 934px) {
      top: auto;
    }
  }

  .product-card.product-card--1,
  .product-card.product-card--2,
  .product-card.product-card--3 {
    @media (min-width: 934px) {
      // margin-bottom: auto;
      padding-bottom: 30px;
      padding-top: 30px;
    }

    @media (min-width: $bp-3xl) {
      padding: 0;
    }
  }

  .product-card--1 {
    position: relative;
    margin-bottom: -31px;

    @media (min-width: $bp-2xl) {
      margin: 0 45px;
    }

    @media (min-width: $bp-3xl) {
      margin: 0 195px 119px 154px;
    }

    .product-card__content-top {
      padding: 4px 14px 20px 26px;

      @media (min-width: $bp-3xl) {
        padding-left: 47px;
        padding-right: 12px;
        padding-bottom: 86px;
      }
    }

    .product-card__video {
      aspect-ratio: 375/337;

      @media (min-width: $bp-3xl) {
        width: 856px;
      }
    }
    .product-card__col2 {
      top: -57px;

      @media (min-width: $bp-3xl) {
        margin-left: -50px;
        // top: -60px;
      }
    }

    .product-card__decor-right-mobile-1 {
      top: 59%;
      right: 2%;

      width: 85px;
      height: 178px;

      @media (min-width: $bp-2xl) {
        display: none;
      }
    }

    .product-card__decor-right-desktop-1 {
      top: 8%;
      right: -13%;

      width: 287px;
      height: 605px;

      @media (min-width: $bp-2xl) {
        display: block;
      }
    }
  }

  .product-card--2 {
    position: relative;
    margin-bottom: 12px;

    @media (min-width: $bp-2xl) {
      margin: 0 45px;
    }

    @media (min-width: $bp-3xl) {
      margin: 0 154px 142px 213px;
    }

    .product-card__container {
      @media (min-width: 934px) {
        flex-direction: row-reverse;
      }
    }

    .product-card__content {
      @media (min-width: $bp-3xl) {
        padding-top: 83px;
      }
    }

    .product-card__content-bottom {
      @media (min-width: $bp-3xl) {
        margin-top: 15px;
      }
    }

    .product-card__content-top {
      @media (min-width: $bp-3xl) {
        padding-left: 54px;
      }
    }

    .product-card__video {
      aspect-ratio: 375/366;

      @media (min-width: $bp-3xl) {
        width: 804px;
      }
    }
    .product-card__col2 {
      top: -22px;

      @media (min-width: $bp-3xl) {
        padding-top: 0;
      }
    }

    .product-card__decor-right-mobile-2 {
      top: 60%;
      right: 0%;
      width: 88px;
      height: 205px;

      @media (min-width: 934px) {
        left: 0%;
      }

      @media (min-width: $bp-2xl) {
        display: none;
      }
    }

    .product-card__decor-right-desktop-2 {
      display: none;
      top: 1%;
      left: -15.5%;

      width: 294px;
      height: 643px;

      @media (min-width: $bp-2xl) {
        display: block;
      }
    }
  }

  .product-card--3 {
    position: relative;
    margin-bottom: -51px;

    @media (min-width: $bp-2xl) {
      margin: 0 45px;
    }

    @media (min-width: $bp-3xl) {
      margin: 0px 199px 0px 169px;
    }

    .product-card__video {
      aspect-ratio: 375/358;

      @media (min-width: $bp-3xl) {
        width: 783px;
      }
    }
    .product-card__col2 {
      top: -34px;

      @media (min-width: $bp-3xl) {
        padding-top: 56px;
      }
    }

    .product-card__content-top {
      @media (min-width: $bp-3xl) {
        padding-left: 43px;
      }
    }

    .product-card__content-bottom {
      @media (min-width: $bp-3xl) {
        margin-top: 11px;
      }
    }

    .product-card__decor-right-mobile-3 {
      top: 59%;
      right: -3%;
      width: 115px;
      height: 222px;

      @media (min-width: $bp-2xl) {
        display: none;
      }
    }

    .product-card__decor-right-desktop-3 {
      display: none;
      top: 1%;
      right: -21%;

      width: 294px;
      height: 643px;

      @media (min-width: $bp-2xl) {
        display: block;
      }
    }
  }
  // .product-card--2 .product-card__container {
  //   @media (min-width: 934px) {
  //     flex-direction: row-reverse;
  //   }
  // }
}
