@use "../variables" as *;
@use "mixins/logo" as *;
@use "mixins/typography" as *;
@use "app-button/mixins" as *;

.footer {
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: $bp-3xl;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 10px;
    position: relative;

    @media (min-width: $bp-lg) {
      flex-direction: row;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 16px;
      padding-right: 16px;
    }

    @media (min-width: $bp-xl) {
      padding-left: 48px;
      padding-right: 48px;
    }

    @media (min-width: $bp-2xl) {
      padding-left: 138px;
      padding-right: 230px;
    }

    @media (min-width: $bp-3xl) {
      padding-left: 138px;
      padding-right: 315px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $bp-lg) {
      flex: 1 1 96%;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: normal;
    }
  }

  &__logo {
    order: 1;
    margin-bottom: 16px;

    @media (min-width: $bp-lg) {
      flex: 1 1 16%;
      order: 3;
      padding-top: 55px;
      margin-bottom: 0px;
    }

    & img {
      width: calcFluidValue(7.5rem, 15.875rem);
      height: calcFluidValue(1.6875rem, 3.4375rem);
    }
  }

  &__menu {
    order: 2;
    margin-bottom: 22px;

    @media (min-width: $bp-lg) {
      flex: 1 1 50%;
      order: 1;
      padding-top: 47px;
      margin-bottom: 0px;
    }

    @media (min-width: $bp-3xl) {
      // padding-top: 72px;
    }

    & .nav-menu__list {
      flex-direction: column;
      gap: 5px;

      @media (min-width: $bp-lg) {
        flex-direction: row;
        gap: 40px;
      }
    }

    & .nav-menu__link {
      font-weight: 500;
      font-size: calcFluidValue(1.125rem, 1.375rem);
    }

    & .nav-menu__separator {
      display: none;

      @media (min-width: $bp-lg) {
        display: block;
      }
    }

    & .nav-menu__item--language {
      display: none;

      @media (min-width: $bp-lg) {
        display: block;
      }
    }
  }

  &__buttons {
    order: 3;
    margin-bottom: 22px;

    @media (min-width: $bp-lg) {
      flex: 1 1 27%;
      order: 2;
      display: flex;
      justify-content: flex-end;
      padding-top: 36px;
      margin-bottom: 0px;
    }

    @media (min-width: 1277px) {
      flex: 1 1 50%;
    }

    @media (min-width: $bp-3xl) {
      // padding-top: 60px;
    }

    & .app-button--secondary {
      @include button-size-sm-secondary;

      @media (min-width: $bp-lg) {
        @include button-size-lg-secondary;
      }
    }

    & .app-button--primary {
      @include button-size-sm-primary;

      @media (min-width: $bp-lg) {
        @include button-size-lg-primary;
      }
    }
  }

  &__copyright {
    order: 4;
    font-size: calcFluidValue(0.5625rem, 1.0625rem);
    font-weight: 500;
    text-align: center;
    // padding-top: 0px;
    // padding-bottom: 0px;
    // padding-left: 29px;
    // padding-right: 30px;
    width: calcFluidValue(19.6875rem, 31.5rem);

    @media (min-width: $bp-lg) {
      flex: 1 1 50%;
      padding-top: 63px;
      padding-bottom: 34px;
      padding-left: 5px;
      padding-right: 0px;
      line-height: 1.3;
      text-align: left;
      width: 100%;
    }
  }

  &__decor {
    display: none;

    @media (min-width: $bp-2xl) {
      display: block;
      position: absolute;
      top: 27.5%;
      right: 3.5%;
      z-index: -1;
      width: 135px;
      height: 144px;
    }
  }

  &__decor-inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__diamond {
    position: absolute;
    top: 0;
    left: 0;

    filter: blur(30px);
  }

  &__coin {
    position: absolute;
    top: 9%;
    left: -1%;
    width: 124px;
    height: 110px;
  }
}
