.highlight-accent-3 {
  background: linear-gradient(145deg, #ff6c56 0%, #ff9344 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight-accent-4 {
  background: linear-gradient(149deg, #b2ff0f 0%, #76ffef 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight-accent-5 {
  background: linear-gradient(146deg, #7673ff 0%, #42f4ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
