@mixin gradient-border-size($border, $border-radius) {
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: $border-radius;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
  }
}

// Original mixin for backward compatibility
@mixin gradient-border(
  $border,
  $border-radius,
  $border-background: transparent,
  $background: transparent
) {
  background-color: $background;

  @include gradient-border-size($border, $border-radius);

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: $border-background;
  }
}
