// Montserrat Font Family
@font-face {
  font-family: "Montserrat";
  src:
    url("../assets/fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("../assets/fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("../assets/fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("../assets/fonts/montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("../assets/fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("../assets/fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("../assets/fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Chakra Petch Font Family
@font-face {
  font-family: "Chakra Petch";
  src:
    url("../assets/fonts/chakra-petch/ChakraPetch-Regular.woff2") format("woff2"),
    url("../assets/fonts/chakra-petch/ChakraPetch-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chakra Petch";
  src:
    url("../assets/fonts/chakra-petch/ChakraPetch-Medium.woff2") format("woff2"),
    url("../assets/fonts/chakra-petch/ChakraPetch-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chakra Petch";
  src:
    url("../assets/fonts/chakra-petch/ChakraPetch-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/chakra-petch/ChakraPetch-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chakra Petch";
  src:
    url("../assets/fonts/chakra-petch/ChakraPetch-Bold.woff2") format("woff2"),
    url("../assets/fonts/chakra-petch/ChakraPetch-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
