$font-family-primary: "Montserrat", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
$font-family-secondary: "Chakra Petch", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;

$font-size-base: 1rem;

// Colors
$color-bg-primary: #0d0d0d;
$color-text-primary: #fff;
$color-text-secondary: #959595;

// Breakpoints
$bp-xs: 23.4375rem; // 375px
$bp-sm: 40rem; // 640px
$bp-md: 48rem; // 768px
$bp-lg: 64rem; // 1024px
$bp-xl: 80rem; // 1280px
$bp-2xl: 95rem; // 1520px
$bp-3xl: 120rem; // 1920px

$page-container-width: 95rem; //1520px
