// Import all partials
@use "variables" as *;
@use "fonts";
@use "reset";

@use "layout/containers";
@use "shared/app-header";
@use "shared/nav-menu";
@use "shared/app-button";
@use "shared/nav-buttons";
@use "home-page/hero-section";
@use "home-page/home-thesis-section";
@use "home-page/thesis-card";
@use "home-page/thesis-slider";
@use "home-page/test-slider";
@use "home-page/team-card";
@use "home-page/team-section";
@use "home-page/team-slider";
@use "home-page/product-section";
@use "home-page/product-card";
@use "shared/wavy-button";
@use "shared/typography";
@use "shared/accordion";
@use "home-page/follow-us-section";
@use "shared/footer";
@use "shared/contact-us";
@use "shared/faq-section";
@use "shared/hero-full-section";
@use "shared/token-input";
@use "token-page/tokenomic-section";
@use "shared/thesis-section";
@use "token-page/token-roadmap-section";
@use "token-page/token-contact-us";
@use "token-page/token-adress-section";
@use "fund-page/fund-thesis-section";
@use "fund-page/fund-stages-section";
@use "home-page/home-faq-section";
@use "fund-page/fund-faq-section";
@use "fund-page/fund-contact-us";
@use "shared/contact-form";
@use "shared/toast";
@use "home-page/home-contact-us";
@use "home-page/home-marquee";
@use "home-page/home-page";
@use "shared/coming-soon";

// @use "../node_modules/swiper/swiper.css" as *;
@use "swiper-bundle.min.css" as *;

// home-marquee {
//   display: flex;
// }

html,
body {
  // min-height: 100%;
  // overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: $color-bg-primary;
  // background-color: green;
  color: $color-text-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-primary;
}

.main {
  overflow-x: clip;
}

// html,
// body {
//   height: 100%;
// }

// .page-wrapper {
//   min-height: 100%;
//   display: flex;
//   flex-direction: column;
// }

// .main {
//   flex: 1 1 auto;
// }

.font-test {
  font-family: $font-family-secondary;
  font-weight: 700;
}
